################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GamePad/.vs
/GamePad/GamePad.Web/Properties/PublishProfiles
# Blazor
*.user
*.suo
*.cache
*.bin
*.obj
*.dll
*.exe
*.pdb
*.log
*.vscode/
*.vs/
*.bak
**/bin/
**/obj/
